body {
  font-family: system-ui, sans-serif;
  background-color: lightblue;
}

p {
    color: green;
}

h1, h2, h3, p, figcaption {
  font-family: sans-serif;
}

button {
    border: 5px;
    cursor: crosshair;
    transition: all 0.2s ease;
    color: black;
    height: 50px;
    width: 75px;
    border-color: #0033FF;
    border-radius: 15px;
    background-color: green;
}

button:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

button:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.divLeft {
    position: relative;
    left: 15px;
    height: 33%;
    max-height: 500px;
    width: 22%;
    max-width: 400px;
    background-color: #DDDDDD;
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border: 5px;
    border-color: #999999;
    border-radius: 15px;
}

.divLeft img {
    height: 250px;
    width: auto;
}

.divRight {
    position: relative;
    left: 1905px;
    height: 33%;
    max-height: 500px;
    width: 22%;
    max-width: 400px;
    background-color: #DDDDDD;
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border: 5px;
    border-color: #999999;
    border-radius: 15px;
}

.divRight img {
    height: auto;
    width: 250px;
}
