body {
  font-family: system-ui, sans-serif;
  background-color: lightblue;
}

p {
    color: green;
}

h1, h2, h3, p, figcaption {
  font-family: sans-serif;
}

button {
    border: none;
    cursor: crosshair;
    transition: all 0.2s ease;
    color: green;
    height: 25px;
    width: 75px;
    foreground-color: blue;
}

button:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

button:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
