body {
  font-family: system-ui, sans-serif;
  background-color: lightblue;
}

p {
    color: green;
}

h1, h2, h3, p, figcaption {
  font-family: sans-serif;
}

button {
    border: 5px;
    cursor: crosshair;
    transition: all 0.2s ease;
    color: black;
    height: 50px;
    width: 75px;
    border-color: #0033FF;
    border-radius: 15px;
    background-color: green;
}

button:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

button:active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.divLeft {
    position: relative;
    left: 15px;
    height: 350px;
    width: 25%;
    max-width: 500px;
    background-color: #DDDDDD;
    border-style: solid;
    border: 10px;
    border-color: #DDDDDD;
    border-radius: 25px;
}
